body {font-family: 'Roboto Slab', serif;;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
}
* {box-sizing: border-box}

input[type=text]{
  font-size: 16px;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


button {
  background-color: #4CAF50;
  color: white;
 padding: 15px 32px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


 .btn1 {
  float: center;
  width: 100%;
}


.container {
  margin: 50px 480px;
  align-items: center;
  font-size: 15px;
  padding: 16px;  
  height: 900px;
  width: 600px;
  border:1px solid black;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
