*{
	margin:0px;
	padding: 0px;
}
#r2c1{

  background-image: linear-gradient(to right,#159957,#155799)
}
hr{
      color: black;

    }
    a:link{
      text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
      color:white;
      text-decoration: none;
    }
    a:visited{
      color:white;
    }
    a:hover{
      color:yellow;
    }
    td{
      border: 2px solid Black;
      border-radius: 5px
    }
    tr{
      background-image: linear-gradient(to left,#642B73,#C6426E)
    }
    
    tr:hover {background-color:#f5f5f5;}

    th{
      text-shadow: -4px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  background-image: linear-gradient(to right,#36D1DC,#5B86E5);

      border: 2px solid Black;
      border-radius: 5px;
}
table {
  font-family: 'Raleway', sans-serif;

  border: none;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
#top th{
font-family: 'Raleway', sans-serif;
 background-image: linear-gradient(to right,#36D1DC,#5B86E5);
}
#main{
  background: #d53369
}
#logo{

height: 500px;
  background-image: url("parrot.jpg");
  background-size: 100% 100%;
  
  background-repeat: no-repeat;
}

#footer{
  height: 30px;
  box-shadow: 10px;
  color:yellow;
 background-image: linear-gradient(to right,#36D1DC,#5B86E5);
  text-align: center;
  font-size: 30px;
}
